
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.log


.env/
.venv/
env/
venv/
ENV/


.idea/
.vscode/
*.swp


.DS_Store
Thumbs.db


.cache/
.coverage
htmlcov/


reports/
allure-results/
allure-report/


screenshots/
chromedriver.log


*.tmp
*.bak
*.orig
